@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Space+Mono&display=swap');

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background: hsla(136, 82%, 72%, 1);
    background: linear-gradient(90deg, hsla(136, 82%, 72%, 1) 0%, hsla(205, 84%, 36%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(136, 82%, 72%, 1) 0%, hsla(205, 84%, 36%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(136, 82%, 72%, 1) 0%, hsla(205, 84%, 36%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7EF29D", endColorstr="#0F68A9", GradientType=1 );
    font-family: 'Space Mono', monospace;
}

#landing{
    padding-top: 10em;
    padding-bottom: 400px;
}

#aboutheading{
    text-decoration: underline;
}