@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --c-brand: #826251;
    --c-brand-rgb: 56, 163, 165;
    --c-dark: #22577a;
    --c-body: #57cc99;
    --f-main: "Bebas Neue", sans-serif;
    --transition: all .6s cubic-bezier(.165, .84, .44, 1);
    --shadow: 0px 15px 40px rgba(0,0,0,0.1);
}

body{
    font-family: var(--f-main);
    color: var(--c-body);
    line-height: 1.7;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    font-weight: 700;
    color: var(--c-dark);
}

a{
    text-decoration: none;
    color: var(--c-dark);
    transition: var(--transition);
}

a:hover{
    color: var(--c-brand);
}

img{
    width: 100%;
}

.section-padding{
    padding-top: 120px;
    padding-bottom: 120px;
}

.text-brand{
    color: var(--c-brand);
}

.section-title{
    max-width: 560px;
    margin: 0 auto 60px auto;
}

.section-title .line{
    width: 60px;
    height: 2px;
    background-color: var(--c-brand);
    display: inline-block;
}

.section-connector{
    position: relative;
}

.section-connector::after{
    content: "";
    width: 2px;
    height: 100px;
    background-color: var(--c-brand);
    position: absolute;
    top: -60px;
    left: 50%;
}

/* Navbar */
.navbar{
    padding-top: 30px;
    padding-bottom: 30px;
    transition: var(--transition);
}

.navbar.scrolled{
    padding-top: 10px;
    padding-bottom: 7px;
    background-color: white;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 12px;
        padding-left: 12px;
    }
}

.navbar .navbar-nav .nav-link{
    font-size: 1.5em;
    color: var(--c-dark);
}

.navbar .navbar-nav .nav-link:hover{
    color: var(--c-brand);
}

.social-icon{
    width: 36px;
    height: 36px;
    color: white;
    align-items: center;
    justify-content: center;
}

/* Home */ 
#home{
    background-image: url(/assets/images/bg1.png);
    background-position: center;
    background-size: cover;
}

/* Location */
.location-icon{
    width: 60px;
    height: 60px;
    background-color: var(--c-brand);
    color: white;
    font-size: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.custom-link{
    display: inline-flex;
    align-items: center;
}

.custom-link span{
    font-weight: 700;
}

.custom-link i{
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-brand);
    border-radius: 100px;
    color: white;
    margin-left: 6px;
    transition: var(--transition);
}

.custom-link:hover i{
    transform: translate3d(5px, -5px, 5px);
}

.mt-4{
    font-size: 1.5em;
}

#card-p, #card-span{
    font-size: 1.2em;
}

#proj-disc, #contact-disc{
    font-size: 1.5em;
    font-stretch: semi-expanded;
}

/* Projects */
.project{
    overflow: hidden;
    position: relative;
}

.project .content{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--c-brand);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project img, .project .content{
    transition: var(--transition);
}

.p-1, .p-2{
    width: auto;
    height: 800px;
}

.p-3{
    width: auto;
    height: auto;
}

.project:hover .content{
    top: 0;
}

.project:hover img{
    transform: translateY(-100%);
}

/* Contact */
#contact .form-control{
    border-radius: 5;
}

#contact .form-control:focus{
    box-shadow: none;
}

#contact input.form-control{
    height: 44px;
}

#my-form-button{
    width: 125px;
    height: 40px;
    font-size: 1.3em;
    background-color: var(--c-dark);
}

#my-form-button:hover{
    background-color: var(--c-brand);
}

#contact{
    flex-direction: column;
}

#my-form-status{
    font-size: 1.2em;
    color: white;
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 2px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 8px;
}

#my-form-status.success{
    background-color: var(--c-body);
    animation: status 4s ease forwards;
}

#my-form-status.error{
    background-color: #d9534f;
    animation: status 4s ease forwards;
}

@keyframes status {
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

.form-control{
    font-size: 1.2em;
    font-stretch: expanded;
}

/* Footer */
footer{
    background-color: var(--c-dark);
}

.footer-bottom{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}